.next {
    position: absolute;
    top: 200px;
    transform: translateY(-50%);
    background: hsl(210, 22%, 49%);
    color: #fff;
    width: 1.25rem;
    height: 1.25rem;
    display: grid;
    place-items: center;
    border-color: transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all .3s linear;
}

.next:hover {
    background: hsl(21, 62%, 45%);
}

.next {
    right: 0;
}

@media (min-width: 800px) {
    .next {
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
    }
}